/* Animations */
$header-slide-down-duration: 350ms;
$header-slide-down-delay: 150ms;
$project-item-reveal-duration: 350ms;
$project-item-reveal-delay: 100ms;
$project-media-reveal-duration: 350ms;

/* Transitions */
$about-hint-transition-duration: 250ms;
$about-opening-transition-duration: 350ms;
$about-image-hover-transition: 350ms;
$menu-links-default-alpha: 0.6;
$menu-links-transition-duration: 350ms;
$projects-hover-transition-duration: 300ms;
