/* @TODO ADD CUSTOM TIMING FUNCTION TO ALL ANIMATIONS */
$about-opening-transition-duration: 350ms;
$menu-links-default-opacity: 0.6;
$menu-links-transition-duration: 350ms;
$projects-opacity-transition-duration: 500ms;
