$sans-serif-font-stack: 'Orator Std', 'Helvetica', 'Arial', sans-serif;
$serif-font-stack: 'Freight Text Pro Italic', 'Georgia', 'Times', 'Times New Roman', serif;

$smaller-font-size: 75%;
$small-font-size: 90%;
$root-font-size: 100%;
$medium-font-size: 125%;
$big-font-size: 150%;
