@import 'abstracts/variables/animations';

/**
 * 1. Remove all default button styles.
 */
.about-button {
  background-color: transparent; /* 1 */
  border: none; /* 1 */
  box-shadow: none; /* 1 */
  opacity: $menu-links-default-opacity;
  cursor: pointer;
  -webkit-transition: opacity $menu-links-transition-duration;
  transition: opacity $menu-links-transition-duration;

  &:hover,
  &:focus {
    opacity: 1;
  }
}
