@import 'vendors/include-media';
@import 'abstracts/variables/animations';
@import 'abstracts/variables/colors';
@import 'abstracts/variables/layout';

.about {
  position: absolute;
  width: 100%;
  height: 100vh;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  background-color: $white;
  z-index: 99;
  -webkit-transition: -webkit-transform $about-opening-transition-duration;
  transition: -webkit-transform $about-opening-transition-duration;
  transition: transform $about-opening-transition-duration;
  transition: transform $about-opening-transition-duration, -webkit-transform $about-opening-transition-duration;
}

.about[aria-expanded="true"] {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.about__container {
  height: 100%;
}

.about__content {
  position: absolute;
  top: calc(50% - #{$mobile-header-height / 2});
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 99;

  @include media('>=small') {
    top: calc(50% - #{$header-height / 2});
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.about__background {
  @include media('>=small') {
    height: 85%;
    background-color: $salmon;
    opacity: 0.1;
  }
}

/**
 * 1. Required as Orator Std is an uppercase font
 */
.about__text {
  margin: 0;
  text-transform: lowercase; /* 1 */
  color: $blue;
}

/**
 * 1. Positioning context for after element.
 */
.about__text a {
  position: relative; /* 1 */
  color: inherit;
}

.about__text a::after {
  opacity: 0;
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: $salmon;
  -webkit-transform: translateX(-30%);
  transform: translateX(-30%);
  -webkit-transition: opacity $menu-links-transition-duration, -webkit-transform $menu-links-transition-duration;
  transition: opacity $menu-links-transition-duration, -webkit-transform $menu-links-transition-duration;
  transition: transform $menu-links-transition-duration, opacity $menu-links-transition-duration;
  transition: transform $menu-links-transition-duration, opacity $menu-links-transition-duration, -webkit-transform $menu-links-transition-duration;
}

.about__text a:hover,
.about__text a:focus {
  &::after {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/**
 * 1. Reset default list & list elements styles.
 */
.about__links {
  margin: 0; /* 1 */
  padding: 0; /* 1 */
  list-style: none; /* 1 */
  margin-top: 1em;
  font-family: $serif-font-stack;
  font-size: $small-font-size;
  font-style: italic;
}

.about__links-item {
  display: inline-block;
  margin-right: 1em;
}

/**
 * 1. Extra 2% are needed to not hide the last character, caused by the serif
 *    font.
 * 2. Hides the `about__link` after elements.
 */
.about__links-item-wrapper {
  width: 102%; /* 1 */
  overflow: hidden; /* 2 */
}

/**
 * 1. Positioning context for after element.
 */
.about__link {
  position: relative; /* 1 */
  opacity: $menu-links-default-opacity;
  -webkit-transition: opacity $menu-links-transition-duration;
  transition: opacity $menu-links-transition-duration;
}

.about__link::after {
  content: '';
  position: absolute;
  top: 100%;
  display: block;
  height: 2px;
  width: 100%;
  background-color: $salmon;
  -webkit-transform: translateX(-102%) translateZ(0);
  transform: translateX(-102%) translateZ(0);
  -webkit-transition: -webkit-transform $menu-links-transition-duration;
  transition: -webkit-transform $menu-links-transition-duration;
  transition: transform $menu-links-transition-duration;
  transition: transform $menu-links-transition-duration, -webkit-transform $menu-links-transition-duration;
}

.about__link:hover,
.about__link:focus {
  opacity: 1;

  &::after {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
