@import 'abstracts/variables/animations';

/**
 * 1. Remove all default button styles.
 */
.about-button {
  background-color: transparent; /* 1 */
  border: none; /* 1 */
  box-shadow: none; /* 1 */
  opacity: $menu-links-default-opacity;
  -webkit-transition: opacity $menu-links-transition-duration;
  transition: opacity $menu-links-transition-duration;
  cursor: pointer;
}

.about-button:hover,
.about-button:focus {
  opacity: 1;
}
