@import 'vendors/include-media';
@import 'abstracts/mixins/underline';
@import 'abstracts/variables/animations';
@import 'abstracts/variables/colors';
@import 'abstracts/variables/layout';

.about {
  position: absolute;
  width: 100%;
  height: 100vh;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  background-color: $white;
  z-index: 99;
  -webkit-transition: -webkit-transform $about-opening-transition-duration;
  transition: -webkit-transform $about-opening-transition-duration;
  transition: transform $about-opening-transition-duration;
  transition: transform $about-opening-transition-duration, -webkit-transform $about-opening-transition-duration;
}

.about[aria-expanded="true"] {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.about__container {
  height: 100%;
}

.about__content {
  position: absolute;
  top: calc(50% - #{$mobile-header-height / 2});
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 99;

  @include media('>=small') {
    top: calc(50% - #{$header-height / 2});
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.about__background {
  @include media('>=small') {
    height: 85%;
    background-color: $salmon;
    opacity: 0.1;
  }
}

/**
 * 1. Required as Orator Std is an uppercase font
 */
.about__text {
  margin: 0;
  text-transform: lowercase; /* 1 */
  color: $blue;
}

.about__text a {
  @include underline();
  color: inherit;
}

/**
 * 1. Resets default list & list elements styles.
 */
.about__links {
  margin: 0; /* 1 */
  padding: 0; /* 1 */
  list-style: none; /* 1 */
  margin-top: 1em;
  font-family: $serif-font-stack;
  font-size: $small-font-size;
  font-style: italic;
}

.about__links-item {
  display: inline-block;
  margin-right: 1em;
}

/**
 * 1. Allows the link to have an height by being inline-block like its parent.
 * 2. Bumps up the height so that the underline doesn’t move the content.
 */
.about__link {
  @include underline();
  display: inherit; /* 1 */
  height: 1.5em; /* 2 */
  opacity: $menu-links-default-opacity;
  -webkit-transition: opacity $menu-links-transition-duration;
  transition: opacity $menu-links-transition-duration;

  &:hover,
  &:focus {
    opacity: 1;
  }
}
