@import 'abstracts/variables/animations';

/**
 * 1. Removes all default button styles.
 */
.about-button {
  background-color: transparent; /* 1 */
  border: none; /* 1 */
  box-shadow: none; /* 1 */
  color: rgba($black, $menu-links-default-alpha);
  cursor: pointer;
  -webkit-transition: color $menu-links-transition-duration;
  transition: color $menu-links-transition-duration;

  &:hover,
  &:focus {
    color: $black;
  }
}
