@import 'abstracts/variables/animations';
@import 'abstracts/variables/layout';

/**
 * 1. Centers header content vertically.
 */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* 1 */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; /* 1 */
  position: fixed;
  width: 100%;
  min-height: $mobile-header-height;
  padding: 0.5em 0;
  background-color: $white;
  z-index: 99;
  -webkit-transition: min-height $about-hint-transition-duration, -webkit-transform $about-opening-transition-duration;
  transition: min-height $about-hint-transition-duration, -webkit-transform $about-opening-transition-duration;
  transition: transform $about-opening-transition-duration, min-height $about-hint-transition-duration;
  transition: transform $about-opening-transition-duration, min-height $about-hint-transition-duration, -webkit-transform $about-opening-transition-duration;

  @include media('>=small') {
    min-height: $header-height;
  }
}

.header--animated {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: header-slide-down $header-slide-down-duration $header-slide-down-delay backwards;
  animation: header-slide-down $header-slide-down-duration $header-slide-down-delay backwards;
}

.header--push-hinted {
  min-height: #{$mobile-header-height + $header-growth};

  @include media('>=small') {
    min-height: #{$header-height + $header-growth};
  }
}

.header--pushed {
  -webkit-transform: translateY(calc(100vh - #{$mobile-header-height}));
  transform: translateY(calc(100vh - #{$mobile-header-height}));

  @include media('>=small') {
    -webkit-transform: translateY(calc(100vh - #{$header-height}));
    transform: translateY(calc(100vh - #{$header-height}));
  }
}

.header__container {
  padding: 0 80px;

  @include media('>=small') {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

.header__links {
  text-align: center;

  @include media('>=small') {
    text-align: right;
  }
}
