@import 'abstracts/variables/animations';
@import 'abstracts/variables/colors';
@import 'abstracts/variables/typography';

.imprint-link {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.3em;
  text-align: center;
  font-family: $sans-serif-font-stack;
  font-size: $smaller-font-size;
  color: $light-grey;
  -webkit-transition: color $menu-links-transition-duration;
  transition: color $menu-links-transition-duration;

  &:hover,
  &:focus {
    color: $grey;
  }
}
