@import 'abstracts/variables/animations';
@import 'abstracts/variables/colors';
@import 'abstracts/variables/typography';

.imprint-link {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.3em;
  text-align: center;
  font-family: $sans-serif-font-stack;
  font-size: $smaller-font-size;
  color: $grey;
  opacity: 0.4;
  -webkit-transition: opacity $menu-links-transition-duration;
  transition: opacity $menu-links-transition-duration;
}

.imprint-link:hover,
.imprint-link:focus {
  opacity: 1;
}
