.logo {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  color: $black;

  @include media('>=small') {
    margin: 0;
  }
}

/**
 * 1. Prevents the SVG from being huge on Safari.
 * 2. Enforces a specific height as certain browsers render a very tall header.
 */
.logo svg {
  max-width: 100%; /* 1 */
  max-height: 45px; /* 2 */
  vertical-align: middle;
  fill: currentcolor;
}
