@import 'abstracts/mixins/absolute-center';
@import 'abstracts/variables/animations';
@import 'abstracts/variables/colors';

.projects-grid-item {
  padding: 0 15px;

  opacity: 0;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-animation: project-item-reveal $projects-item-reveal-duration forwards;
  animation: project-item-reveal $projects-item-reveal-duration forwards;
}

/**
 * 1. Using flexbox allows the grid’s content to always be centered vertically
 *    and horizontally.
 */
.projects-grid-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* 1 */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; /* 1 */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; /* 1 */
}

.projects-grid-item__link:hover,
.projects-grid-item__link:focus {
  .projects-grid-item__image {
    opacity: 0;
  }

  .projects-grid-item__content {
    opacity: 1;
  }
}

.projects-grid-item__image,
.projects-grid-item__content {
  -webkit-transition: opacity $projects-opacity-transition-duration;
  transition: opacity $projects-opacity-transition-duration;
}

.projects-grid-item__content {
  @include absolute-center();
  opacity: 0;
  text-align: center;
}

/**
 * 1. Required as Orator Std is an uppercase font
 */
.projects-grid-item__title {
  margin-bottom: 0;
  font-size: $medium-font-size;
  font-weight: lighter;
  color: $blue;
  text-transform: lowercase; /* 1 */
}

.projects-grid-item__separator {
  width: 40px;
  margin: 0.4em auto;
}

.projects-grid-item__type {
  font-family: $serif-font-stack;
  color: $grey;
}
