@import 'abstracts/mixins/absolute-center';
@import 'abstracts/variables/animations';
@import 'abstracts/variables/colors';

.projects-grid-item {
  padding: 0 15px;

  -webkit-animation: project-item-reveal $project-item-reveal-duration both;
  animation: project-item-reveal $project-item-reveal-duration both;
}

/**
 * 1. Allows the grid’s content to always be centered vertically
 *    and horizontally.
 * 2. Puts the content under the project thumbnail as required on mobile.
 */
.projects-grid-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* 1 */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; /* 1 */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; /* 1 */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; /* 2 */

  &:hover,
  &:focus {
    @include media('>=small') {
      .projects-grid-item__image {
        opacity: 0;
      }

      .projects-grid-item__content {
        opacity: 1;

        .projects-grid-item__title,
        .projects-grid-item__type {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }

        .projects-grid-item__separator {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
      }
    }
  }
}

.projects-grid-item__content {
  display: block;
  width: 100%;

  @include media('>=small') {
    @include absolute-center();
    opacity: 0;
    text-align: center;
  }
}

/**
 * 1. Required as Orator Std is an uppercase font
 */
.projects-grid-item__title {
  margin-bottom: 0;
  font-size: $medium-font-size;
  font-weight: normal;
  color: $blue;
  text-transform: lowercase; /* 1 */

  @include media('>=small') {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

.projects-grid-item__separator {
  width: 35px;
  margin: 0.4em auto;
  margin-left: 0;

  @include media('>=small') {
    margin-left: auto;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
}

/**
 * 1. Allows the span to be translated for the transition.
 */
.projects-grid-item__type {
  display: block; /* 1 */
  font-family: $serif-font-stack;
  color: $grey;
  font-size: $small-font-size;

  @include media('>=small') {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

.projects-grid-item__title,
.projects-grid-item__separator,
.projects-grid-item__type, {
  -webkit-transition: -webkit-transform $projects-hover-transition-duration;
  transition: -webkit-transform $projects-hover-transition-duration;
  transition: transform $projects-hover-transition-duration;
  transition: transform $projects-hover-transition-duration, -webkit-transform $projects-hover-transition-duration;
}

.projects-grid-item__image,
.projects-grid-item__content {
  -webkit-transition: opacity $projects-hover-transition-duration;
  transition: opacity $projects-hover-transition-duration;
}
