@import 'abstracts/mixins/absolute-center';
@import 'abstracts/variables/animations';
@import 'abstracts/variables/colors';

.projects-grid-item {
  padding: 0 15px;

  -webkit-animation: project-item-reveal $projects-item-reveal-duration both;
  animation: project-item-reveal $projects-item-reveal-duration both;
}

/**
 * 1. Using flexbox allows the grid’s content to always be centered vertically
 *    and horizontally.
 */
.projects-grid-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* 1 */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; /* 1 */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; /* 1 */
}

.projects-grid-item__content {
  @include absolute-center();
  opacity: 0;
  text-align: center;
}

/**
 * 1. Required as Orator Std is an uppercase font
 */
.projects-grid-item__title {
  margin-bottom: 0;
  font-size: $medium-font-size;
  font-weight: lighter;
  color: $blue;
  text-transform: lowercase; /* 1 */
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}

.projects-grid-item__separator {
  width: 40px;
  margin: 0.4em auto;
}

/**
 * 1. The span needs to be of display block to be translated for the transition.
 */
.projects-grid-item__type {
  display: block; /* 1 */
  font-family: $serif-font-stack;
  color: $grey;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.projects-grid-item__title,
.projects-grid-item__type {
  -webkit-transition: -webkit-transform $projects-opacity-transition-duration;
  transition: -webkit-transform $projects-opacity-transition-duration;
  transition: transform $projects-opacity-transition-duration;
  transition: transform $projects-opacity-transition-duration, -webkit-transform $projects-opacity-transition-duration;
}

.projects-grid-item__image,
.projects-grid-item__content {
  -webkit-transition: opacity $projects-opacity-transition-duration;
  transition: opacity $projects-opacity-transition-duration;
}

.projects-grid-item__link:hover,
.projects-grid-item__link:focus {
  .projects-grid-item__image {
    opacity: 0;
  }

  .projects-grid-item__content {
    opacity: 1;

    .projects-grid-item__title,
    .projects-grid-item__type {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    .projects-grid-item__separator {
    }
  }
}
