@import 'variables/colors';
@import 'variables/typography';

html {
  box-sizing: border-box;
}

body {
  background-color: $white;
  color: $black;
  font: 16px / 1.5 $sans-serif-font-stack;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
