@import 'abstracts/variables/colors';
@import 'abstracts/variables/typography';
@import 'vendors/include-media';

html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background-color: $beige;
  color: $black;
  font: 100% / 1.5 $sans-serif-font-stack;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: $black;
}

h1 {
  line-height: 1;
}

hr {
  border: none;
  height: 3px;
  background-color: $salmon;
}

/**
 * Bootstrap overrides & customization
 */
.row .col {
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }

  @include media('>small') {
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  @include media('>large') {
    &:nth-last-child(3) {
      margin-bottom: 0;
    }
  }
}
