{% assign animated_header = include.animated_header | default: page.animated_header | default: "" %}
{% capture class %}
  {% if animated_header != "" %}
    header header--animated
  {% else %}
    header
  {% endif %}
{% endcapture %}

<header class="{{ class }}">
  <div class="container">
    <div class="header__container row">
      <div class="col-xs-12 col-md-4">
        {% include components/logo.html %}
      </div>

      <div class="header__links col-xs-12 col-md-4 col-md-offset-4">
        {% include components/social.html %}
        {% include components/about-button.html %}
      </div>
    </div>
  </div>
</header>
